<li class="col-xs-12 col-sm-4 event" data-groups='["sport_events"]'>
  <div class="event-box">
    <div class="col-xs-12 ">
      <h2><%= event.category %></h2>
    </div>
    <div class="col-xs-12">
      <p>Местоположение: <span><%= event.location %></span></p>
      <p>Дата: <span><%= event.date %></span></p>
    </div>
    <div class="col-xs-12">
      <a href="" >Запиши се</a>
    </div>
  </div>
</li>
