<main>
  <div class="home">
    <div class="header-image text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Спорт за всички</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <div class="filter-options">
            <button class="home-btns active" data-group="all">Всички</button>
            <button class="home-btns " data-group="sport_events">Спортни тренировки</button>
            <button class="home-btns" data-group="rehab_sessions">Рехабилитационни процедури</button>
          </div>
        </div>
      </div>
    </div>

    <p id="notice"><%= notice %></p>
    <div class="container-fluid" id="shuffle-projects">
      <div class="row">
        <ul class="list-unstyled" id="grid">
          <%= render @events %>
        </ul>
      </div>
    </div>
  </div>
</main>
