<html lang="bg_BG">
    <head>
        <meta charset="utf-8" />
        <title>Спорт за всички</title>
        <base href="http://sport-za-vsichki.herokuapp.com" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0" />

        <link rel="stylesheet" href="assets/stylesheets/styles.css" type="text/css" />
        <link rel="stylesheet" href="assets/stylesheets/jquery-ui.min.css" type="text/css" />
        <link rel="stylesheet" href="assets/stylesheets/jquery-ui.structure.min.css" type="text/css" />
        <link rel="stylesheet" href="assets/stylesheets/jquery-ui.theme.min.css" type="text/css" />

        <script type="text/javascript" src="assets/javascripts/jquery.js" ></script>
        <script type="text/javascript" src="assets/javascripts/bootstrap.js" ></script>
        <script type="text/javascript" src="assets/javascripts/jquery-form.js" ></script>
        <script type="text/javascript" src="assets/javascripts/jquery-validate.js" ></script>
        <script type="text/javascript" src="assets/javascripts/jquery-ui.min.js" ></script>
        <script type="text/javascript" src="assets/javascripts/custom.js" ></script>


    </head>
   <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <nav class="navbar navbar-default">
                          <div class="container-fluid">
                            <div class="navbar-header">
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                              <ul class="nav navbar-nav">
                                <li><a href="#">Начало</a></li>
                                <li><a href="#">Регистрация</a></li>
                                <li><a href="#">Добави събитие</a></li>
                              </ul>
                            </div>
                          </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <main class="registration">
            <div class="header">
                <div class="container ">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h1>Спорт за Всички</h1>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="container ">
                    
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h2>Регистрация</h2>
                        </div>
                    </div>
                </div>

            <div class="forms">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">

                              <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#user_form" aria-controls="user_form" role="tab" data-toggle="tab">Потребители</a></li>
                                <li role="presentation"><a href="#couch_form" aria-controls="couch_form" role="tab" data-toggle="tab">Треньори</a></li>
                                <li role="presentation"><a href="#centur_form" aria-controls="centur_form" role="tab" data-toggle="tab">Спортни Центрове</a></li>
                              </ul>

                              <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="user_form">
                                    <form  method="post" class="form-horizontal" id="user_registration" action="">  
                                        <div class="alert hidden" id="output_users"></div>
                                          <p>
                                            <label for="user_name">Име и фамилия:</label>
                                            <input name="user_name" class="form-control" id="user_name" type="text" placeholder="Име и фамилия" />
                                          </p>
                                          <p>
                                            <label for="user_email">E-mail:</label>
                                            <input name="user_email" class="form-control" id="user_email" type="email" placeholder="E-mail" />
                                          </p> 
                                          <p>
                                            <label for="user_password">Парола:</label>
                                            <input name="user_password" class="form-control" id="user_password" type="text" placeholder="Парола" />
                                          </p>
                                          <p>
                                            <label for="user_password_repeat">Повтаряне на паролата:</label>
                                            <input name="user_password_repeat" class="form-control" id="user_password_repeat" type="text" placeholder="Повтаряне на паролата" />
                                          </p>
                                          <p>
                                            <label for="user_phone">Телефон:</label>
                                            <input name="user_phone" class="form-control" id="user_phone" type="text" placeholder="Телефон" />
                                          </p>
                                          <p>
                                            <label for="user_birthdate">Дата на раждане:</label>
                                            <input name="user_birthdate" class="form-control datepicker" id="user_birthdate" type="text" placeholder="Дата на раждане" />
                                          </p>
                                         <hr>
                                         <p>
                                            <h2>Интереси</h2>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6">
                                                    <h3>Спортове</h3>
                                                     <ul>
                                                        <li>
                                                            <label for="sport_1">Плуване</label>
                                                            <input type="checkbox" name="sport_1" value="Плуване" >
                                                        </li>
                                                        <li>
                                                            <label for="sport_2">Ветроходство</label>
                                                            <input type="checkbox" name="sport_2" value="Ветроходство" >
                                                        </li>
                                                         <li>
                                                            <label for="sport_3">Унидсърф</label>
                                                            <input type="checkbox" name="sport_3" value="Унидсърф" >
                                                        </li>
                                                         <li>
                                                            <label for="sport_4">Водна топка</label>
                                                            <input type="checkbox" name="sport_4" value="Водна топка" >
                                                        </li>
                                                         <li>
                                                            <label for="sport_5">Волейбол</label>
                                                            <input type="checkbox" name="sport_5" value="Волейбол" >
                                                        </li>
                                                        <li>
                                                            <label for="sport_6">Футбол</label>
                                                            <input type="checkbox" name="sport_6" value="Футбол" >
                                                        </li>
                                                         <li>
                                                            <label for="sport_7">Художествена гимнастика</label>
                                                            <input type="checkbox" name="sport_7" value="Художествена гимнастика" >
                                                        </li>
                                                         <li>
                                                            <label for="sport_8">Спортни танци</label>
                                                            <input type="checkbox" name="sport_8" value="Спортни танци" >
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-xs-12 col-sm-6">
                                                    <h3>Рехабилитация</h3>
                                                     <ul>
                                                        <li>
                                                            <label for="rehab_1">Вани</label>
                                                            <input type="checkbox" name="sport_1" value="Вани" >
                                                        </li>
                                                        <li>
                                                            <label for="rehab_2">Басейн подводна гиманстика</label>
                                                            <input type="checkbox" name="rehab_2" value="Басейн подводна гиманстика" >
                                                        </li>
                                                        <li>
                                                            <label for="rehab_3">Луголечение</label>
                                                            <input type="checkbox" name="rehab_3" value="Луголечение" >
                                                        </li>
                                                        <li>
                                                            <label for="rehab_4">Парафинолечение</label>
                                                            <input type="checkbox" name="rehab_4" value="Парафинолечение" >
                                                        </li>
                                                        <li>
                                                            <label for="rehab_5">Физиотерапия</label>
                                                            <input type="checkbox" name="rehab_5" value="Физиотерапия" >
                                                        </li>
                                                        <li>
                                                            <label for="rehab_6">Масаж</label>
                                                            <input type="checkbox" name="rehab_6" value="Масаж" >
                                                        </li>
                                                        <li>
                                                            <label for="rehab_7">Кинезитерапия</label>
                                                            <input type="checkbox" name="rehab_7" value="Кинезитерапия" >
                                                        </li>                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                           
                                         </p>  
                                            
                                        <br/>
                                        <input name="submit_form" type="submit" value="Изпрати" class="btn btn-primary"/>
                                        
                                      </form> 
                                </div>
                                <div role="tabpanel" class="tab-pane" id="couch_form">
                                    <form  method="post" class="form-horizontal" id="couch_registration" action="">  
                                        <div class="alert hidden" id="output_couch"></div>
                                          <p>
                                            <label for="couch_name">Име и фамилия:</label>
                                            <input name="couch_name" class="form-control" id="couch_name" type="text" placeholder="Име и фамилия" />
                                          </p>
                                          <p>
                                            <label for="couch_email">E-mail:</label>
                                            <input name="couch_email" class="form-control" id="couch_email" type="email" placeholder="E-mail" />
                                          </p> 
                                          
                                          <p>
                                            <label for="couch_phone">Телефон:</label>
                                            <input name="couch_phone" class="form-control" id="couch_phone" type="text" placeholder="Телефон" />
                                          </p>
                                          <p>
                                            <label for="couch_birthdate">Дата на раждане:</label>
                                            <input name="couch_birthdate" class="form-control datepicker" id="couch_birthdate" type="text" placeholder="Дата на раждане" />
                                          </p>
                                          <p>
                                            <label for="couch_password">Парола:</label>
                                            <input name="couch_password" class="form-control" id="couch_password" type="text" placeholder="Парола" />
                                          </p>
                                          <p>
                                            <label for="couch_password_repeat">Повтаряне на паролата:</label>
                                            <input name="couch_password_repeat" class="form-control" id="couch_password_repeat" type="text" placeholder="Повтаряне на паролата" />
                                          </p>
                                        <hr>
                                         <p>
                                            <h2>Специализация</h2>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6">
                                                    <h3>Спортове</h3>
                                                     <ul>
                                                        <li>
                                                            <label for="sport_1">Плуване</label>
                                                            <input type="checkbox" name="sport_1" value="Плуване" >
                                                        </li>
                                                        <li>
                                                            <label for="sport_2">Ветроходство</label>
                                                            <input type="checkbox" name="sport_2" value="Ветроходство" >
                                                        </li>
                                                         <li>
                                                            <label for="sport_3">Унидсърф</label>
                                                            <input type="checkbox" name="sport_3" value="Унидсърф" >
                                                        </li>
                                                         <li>
                                                            <label for="sport_4">Водна топка</label>
                                                            <input type="checkbox" name="sport_4" value="Водна топка" >
                                                        </li>
                                                         <li>
                                                            <label for="sport_5">Волейбол</label>
                                                            <input type="checkbox" name="sport_5" value="Волейбол" >
                                                        </li>
                                                        <li>
                                                            <label for="sport_6">Футбол</label>
                                                            <input type="checkbox" name="sport_6" value="Футбол" >
                                                        </li>
                                                         <li>
                                                            <label for="sport_7">Художествена гимнастика</label>
                                                            <input type="checkbox" name="sport_7" value="Художествена гимнастика" >
                                                        </li>
                                                         <li>
                                                            <label for="sport_8">Спортни танци</label>
                                                            <input type="checkbox" name="sport_8" value="Спортни танци" >
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-xs-12 col-sm-6">
                                                    <h3>Рехабилитация</h3>
                                                     <ul>
                                                        <li>
                                                            <label for="rehab_1">Вани</label>
                                                            <input type="checkbox" name="sport_1" value="Вани" >
                                                        </li>
                                                        <li>
                                                            <label for="rehab_2">Басейн подводна гиманстика</label>
                                                            <input type="checkbox" name="rehab_2" value="Басейн подводна гиманстика" >
                                                        </li>
                                                        <li>
                                                            <label for="rehab_3">Луголечение</label>
                                                            <input type="checkbox" name="rehab_3" value="Луголечение" >
                                                        </li>
                                                        <li>
                                                            <label for="rehab_4">Парафинолечение</label>
                                                            <input type="checkbox" name="rehab_4" value="Парафинолечение" >
                                                        </li>
                                                        <li>
                                                            <label for="rehab_5">Физиотерапия</label>
                                                            <input type="checkbox" name="rehab_5" value="Физиотерапия" >
                                                        </li>
                                                        <li>
                                                            <label for="rehab_6">Масаж</label>
                                                            <input type="checkbox" name="rehab_6" value="Масаж" >
                                                        </li>
                                                        <li>
                                                            <label for="rehab_7">Кинезитерапия</label>
                                                            <input type="checkbox" name="rehab_7" value="Кинезитерапия" >
                                                        </li>                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                           
                                         </p>  
                                            
                                        <br/>
                                        <input name="submit_form" type="submit" value="Изпрати" class="btn btn-primary"/>
                                        
                                      </form> 
                                </div>
                                <div role="tabpanel" class="tab-pane" id="centur_form">
                                    <form  method="post" class="form-horizontal" id="centur_registration" action="">  
                                        <div class="alert hidden" id="output_centur"></div>
                                          <p>
                                            <label for="centur_name">Спортен център:</label>
                                            <input name="centur_name" class="form-control" id="centur_name" type="text" placeholder="Спортен център" />
                                          </p>
                                          <p>
                                            <label for="centur_email">E-mail:</label>
                                            <input name="centur_email" class="form-control" id="centur_email" type="email" placeholder="E-mail" />
                                          </p> 
                                          
                                          <p>
                                            <label for="centur_phone">Телефон:</label>
                                            <input name="centur_phone" class="form-control" id="centur_phone" type="text" placeholder="Телефон" />
                                          </p>
                                         
                                          <p>
                                            <label for="centur_password">Парола:</label>
                                            <input name="centur_password" class="form-control" id="centur_password" type="text" placeholder="Парола" />
                                          </p>
                                          <p>
                                            <label for="centur_password_repeat">Повтаряне на паролата:</label>
                                            <input name="centur_password_repeat" class="form-control" id="centur_password_repeat" type="text" placeholder="Повтаряне на паролата" />
                                          </p>
                                           <p>
                                            <label for="centur_location">Местоположение:</label>
                                            <input name="centur_location" class="form-control" id="centur_location" type="text" placeholder="Местоположение" />
                                          </p>
                                           <p>
                                            <textarea name="centur_description" class="form-control" placeholder="Описание" ></textarea>
                                          </p>
                                                 
                                        
                                            
                                        <br/>
                                        <input name="submit_form" type="submit" value="Изпрати" class="btn btn-primary"/>
                                        
                                      </form> 
                                </div>
                              </div>

                            
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            
        </footer>
    </body>
</html>