<main>
  <div class="forms">
      <div class="container">
          <div class="row">
              <div class="col-xs-12">

                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#user_form" aria-controls="user_form" role="tab" data-toggle="tab">Потребители</a></li>
                  <li role="presentation"><a href="#couch_form" aria-controls="couch_form" role="tab" data-toggle="tab">Треньори</a></li>
                  <li role="presentation"><a href="#centur_form" aria-controls="centur_form" role="tab" data-toggle="tab">Спортни Центрове</a></li>
                </ul>

                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="user_form">
                    <%= render 'users/form' %>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="couch_form">
                    <%= render 'coaches/form' %>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="centur_form">
                    <%= render 'sport_centers/form' %>
                  </div>
                </div>

              </div>
          </div>
      </div>
  </div>
</main>
