<html lang="bg_BG">
    <head>
        <meta charset="utf-8" />
        <title>Спорт за всички</title>
        <base href="file:///C:/Users/Desislava/Desktop/sport/" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0" />

        <link rel="stylesheet" href="assets/css/styles.css" type="text/css" />
        <link rel="stylesheet" href="assets/css/jquery-ui.min.css" type="text/css" />
        <link rel="stylesheet" href="assets/css/jquery-ui.structure.min.css" type="text/css" />
        <link rel="stylesheet" href="assets/css/jquery-ui.theme.min.css" type="text/css" />

        <script type="text/javascript" src="assets/js/jquery.js" ></script>
        <script type="text/javascript" src="assets/js/bootstrap.js" ></script>
        <script type="text/javascript" src="assets/js/jquery-form.js" ></script>
        <script type="text/javascript" src="assets/js/jquery-validate.js" ></script>
        <script type="text/javascript" src="assets/js/jquery-ui.min.js" ></script>
        <script type="text/javascript" src="assets/js/shuffle.js" ></script>
        <script type="text/javascript" src="assets/js/custom.js" ></script>


    </head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <nav class="navbar navbar-default">
                          <div class="container-fluid">
                            <div class="navbar-header">
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                              <ul class="nav navbar-nav">
                                <li><a href="#">Начало</a></li>
                                <li><a href="#">Регистрация</a></li>
                                <li><a href="#">Добави събитие</a></li>
                              </ul>
                            </div>
                          </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <main>
          <div class="home">
            <div class="header-image text-center">
              <div class="container">
                <div class="row">
                  <div class="col-xs-12">
                    <h1>Спорт за всички</h1>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-xs-12 text-center">
                  <div class="filter-options">
                    <button class="home-btns active" data-group="all">Всички</button>
                    <button class="home-btns " data-group="sport_events">Спортни тренировки</button>
                    <button class="home-btns" data-group="rehab_sessions">Рехабилитационни процедури</button>
                  </div>


                    
                </div>
                
              </div>
            </div>
            <div class="container-fluid" id="shuffle-projects">
              <div class="row">
                  <ul class="list-unstyled" id="grid">
                      <li class="col-xs-12 col-sm-4 event" data-groups='["sport_events"]'>
                        <div class="event-box">
                          <div class="col-xs-12 ">
                            <h2>Волейбол</h2>
                          </div>
                          <div class="col-xs-12">
                            <p>Местоположение: <span>Спортна зала Младост</span></p>
                            <p>Дата: <span>27 септември, 2017</span></p>
                          </div>
                          <div class="col-xs-12">
                            <a href="" >Запиши се</a>
                          </div>
                        </div>
                      </li>
                      <li class="col-xs-12 col-sm-4 event" data-groups='["rehab_sessions"]'>
                        <div class="event-box">
                          <div class="col-xs-12 ">
                            <h2>Волейбол</h2>
                          </div>
                          <div class="col-xs-12">
                            <p>Местоположение: <span>Спортна зала Младост</span></p>
                            <p>Дата: <span>27 септември, 2017</span></p>
                          </div>
                          <div class="col-xs-12">
                            <a href="" >Запиши се</a>
                          </div>
                        </div>
                      </li>
                      <li class="col-xs-12 col-sm-4 event" data-groups='["rehab_sessions"]'>
                        <div class="event-box">
                          <div class="col-xs-12 ">
                            <h2>Волейбол</h2>
                          </div>
                          <div class="col-xs-12">
                            <p>Местоположение: <span>Спортна зала Младост</span></p>
                            <p>Дата: <span>27 септември, 2017</span></p>
                          </div>
                          <div class="col-xs-12">
                            <a href="" >Запиши се</a>
                          </div>
                        </div>
                      </li>
                      
                      <li class="col-sm-4 col-xs-12 shuffle_sizer"></li>

                  </ul>
              </div>
          </div>
            
          </div>
        </main>
        <footer>
            
        </footer>
    </body>
</html>