<!DOCTYPE html>
<html>
  <head>
    <!%= csrf_meta_tags %>
    <!%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Спорт за всички</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0" />

    <link rel="stylesheet" href="assets/styles.css" type="text/css" />
    <link rel="stylesheet" href="assets/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="assets/jquery-ui.structure.min.css" type="text/css" />
    <link rel="stylesheet" href="assets/jquery-ui.theme.min.css" type="text/css" />

    <script type="text/javascript" src="assets/jquery.js" ></script>
    <script type="text/javascript" src="assets/bootstrap.js" ></script>
    <script type="text/javascript" src="assets/jquery-form.js" ></script>
    <script type="text/javascript" src="assets/jquery-validate.js" ></script>
    <script type="text/javascript" src="assets/jquery-ui.min.js" ></script>
    <script type="text/javascript" src="assets/custom.js" ></script>
  </head>

  <body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <nav class="navbar navbar-default">
                      <div class="container-fluid">
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                          <ul class="nav navbar-nav">
                            <li><a href="#">Начало</a></li>
                            <li><a href="#">Регистрация</a></li>
                            <li><a href="#">Добави събитие</a></li>
                          </ul>
                        </div>
                      </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <p><%= yield %></p>
  </body>
</html>
