<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Спорт за всички</title>
    <meta charset="utf-8" />
    <base href="http://sport-za-vsichki.herokuapp.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0" />

    <link rel="stylesheet" href="assets/stylesheets/styles.css" type="text/css" />
    <link rel="stylesheet" href="assets/stylesheets/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="assets/stylesheets/jquery-ui.structure.min.css" type="text/css" />
    <link rel="stylesheet" href="assets/stylesheets/jquery-ui.theme.min.css" type="text/css" />

    <script type="text/javascript" src="assets/javascripts/jquery.js" ></script>
    <script type="text/javascript" src="assets/javascripts/bootstrap.js" ></script>
    <script type="text/javascript" src="assets/javascripts/jquery-form.js" ></script>
    <script type="text/javascript" src="assets/javascripts/jquery-validate.js" ></script>
    <script type="text/javascript" src="assets/javascripts/jquery-ui.min.js" ></script>
    <script type="text/javascript" src="assets/javascripts/custom.js" ></script>
  </head>

  <body>
    <p><%= yield %></p>
  </body>
</html>
